[user]
	name = Andrey Epifanov
	email = aepifanov@mirantis.com

[help]
    autocorrect = 1

[color]
    ui = true

[core]
    autocrlf = input
    whitespace = trailing-space,space-before-tab,indent-with-non-tab,cr-at-eol

[diff]
    tool = vimdiff

[alias]
    st = status
    rs = reset --hard
    lg =  log --graph --decorate --pretty=oneline --abbrev-commit --all
