[user]
	name = Andrey Epifanov
	email = epifanov.andrey@gmail.com

[help]
    autocorrect = 1

[color]
    ui = true

[core]
    autocrlf = input
    whitespace = trailing-space,space-before-tab,indent-with-non-tab,cr-at-eol
